// fonts
$RobotoReg: 'Roboto-Regular';
$RobotoLI: 'Roboto-LightItalic';
$MonserratBolt: 'Montserrat-Bold';
$MonserratReg: 'Montserrat-Regular';
$KaushanScriptReg: 'KaushanScript-Regular';
    
// colors
$action-color: #fce38a;
$effect-color: #f38181;
$title-main-color: #333333;
$title-sub-color: #999999;
$back-color: #95e1d3;